<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="">
    <input placeholder="введите номер телефона" type="text" name="phone">
    <input placeholder="введите электронную почту" type="email" name="email">
    <input placeholder="введите свой адрес проживания" type="text" name="address">
    <input placeholder="введите количество" type="number" name="quantity">
    <button type="submit">Купить</button>

   </form> 
</body>
</html>